<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Edit Tournament</h1>
    <div class="form-group">
    <form action="/tournaments/<%=tournaments.id%>?_method=PUT" method="POST">
      Name:
      <input type="text" name="name" value="<%=tournaments.name%>" /><br />
    </div>
    <div class="form-group">
      Description:
      <input
        type="text"
        name="description"
        value="<%=tournaments.description%>"
      /><br />
    </div>
    <div class="form-group">
      Location:
      <input
        type="text"
        name="location"
        value="<%=tournaments.location%>"
      /><br />
    </div>
      <div class="form-group">
      Number of Teams:
      <input
        type="text"
        name="numberOfTeams"
        value="<%=tournaments.numberOfTeams%>"
      />
      <br />
    </div>
      <div class="form-group">
      Winner:
      <input type="text" name="winner" value="<%=tournaments.winner%>" />
      <br />
    </div>
      <input type="submit" name="" value="Submit Changes" />
    </form>

  </body>
</html>
