<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= tournaments.name %></h1>

    <p><%= tournaments.description %></p>
    <p><%= tournaments.location %></p>
    <h3>Number of participants: <%= tournaments.numberOfTeams %></h3>
    <h4>League Standings</h4>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Team</th>
          <th>Final Record</th>
        </tr>
      </thead>
      <% for (let i = 0; i < tournaments.teams.length; i ++) { %>

      <tr>
        <td>
          <%= tournaments.teams[i].teamName %>
          <img
            class="teamimg"
            src="<%= tournaments.teams[i].img %>"
            alt="no pic"
          />
        </td>
        <td>
          <%= tournaments.teams[i].record %>
        </td>
      </tr>
      <% } %>
    </table>

    <% if(currentUser) { %>
    <a href="/tournaments/<%= tournaments.id %>/Edit"><button>Edit</button></a>

    <a href="/tournaments/<%= tournaments.id%>/newteam"
      ><button>Add a Team</button></a
    >

    <form
      action="/tournaments/<%=tournaments.id%>?_method=DELETE"
      method="POST"
    >
      <button type="submit">DELETE</button>
    </form>
    <% } %> <% console.log(tournaments) %>
  </body>
</html>
