<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Edit Team Info</h1>
    <form
      action="/tournaments/<%= tournaments.id%>/<%= tournaments.teams.id %>?_method=PUT"
      method="POST"
    >
      Team Name:
      <input
        type="text"
        name="teamName"
        value="<%= tournaments.teams.teamName %>"
      />
      <br />
      Add Image File:<input
        type="text"
        name="img"
        value="<%= tournaments.teams.img %>"
      />
      <br />

      Record:
      <input
        type="text"
        name="record"
        value="<%= tournaments.teams.record %>"
      />
      <button type="submit">Edit Team</button>
    </form>
  </body>
</html>
